* {
    background-color: rgb(92, 49, 23);
    font-family: 'Rye', cursive;
}

body {
    /* background-image: url('images/wanted.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
    text-align: center;
    font-size: 80px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.message {
    font-size: 20px;
    padding: 30px;
    text-align: center;
}

table {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box {
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    width: 150px;
    height: 150px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 auto;
    text-align: center;
    font-size: 80px;
    color: black;
}

button {
    background-color: red;
    color: gold;
    font-size: 20px;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    display: block;
    margin: 10px auto;
}